:root {
  --transducer: "Transducer Test Condensed";
  --acumin: "Acumin Pro Condensed", , "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
  --acumin-pro: "Acumin Pro Wid", "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
  --primary: #ffff37;
  --white: #ffffff;
  --black: #000000;
  --gray: #f8f8f8;
  --birch: #332d29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: var(--transducer);
}

.container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 16px;
}

img {
  width: 100%;
  display: block;
}

h1,
.h1 {
  font-size: 55px;
}

h2,
.h2 {
  font-size: 44px;
}

h3,
.h3 {
  font-size: 40px;
}

h4,
.h4 {
  font-size: 30px;
}

label {
  user-select: none;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: 32px 44px;
  text-align: center;
  text-wrap: nowrap;
  width: fit-content;
  letter-spacing: 1px;
  font-size: 14px;
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--black) !important;
  transition: all 300ms ease-in-out;
}

.btn-primary:hover {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white) !important;
}

.btn-tras {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--black) !important;
  transition: all 300ms ease-in-out;
}

.btn-tras:hover {
  background-color: transparent;
  border: 1px solid var(--black);
}

.btn-secondery {
  color: var(--white) !important;
  background-color: transparent;
  border: 1px solid var(--white);
  transition: all 300ms ease-in-out;
}

.btn-secondery:hover {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--black) !important;
}

img {
  display: block;
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  /* height: 100%; */
  z-index: 999;
}

.top-header {
  background-color: var(--black);
}

.top-header-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-contact-blog {
  display: flex;
  align-items: center;
  gap: 22px;
}

.social-blog {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 12px 0px;
}

.social-content {
  font-family: var(--acumin-pro);
  color: var(--white);
  font-size: 12px;
  font-weight: 100;
}

.main-header-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu-bar {
  display: flex;
  align-items: center;
}

.icone-menu {
  display: flex;
  gap: 12px;
  align-items: center;
}

.icone-menu .icon-dec {
  width: 20px;
  height: 20px;
  color: var(--white);
  transition: all 500ms ease-in-out;
}

.icone-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  opacity: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.icone-menu .icon-dec:hover {
  color: var(--primary);
}

.icone-menu .icon-dec svg {
  width: 100%;
  height: 100%;
}

.menu-bar > li:not(:first-child) {
  margin-left: 22px;
  border-left: 1px solid #00000029;
  padding: 20px 0px;
  padding-left: 22px;
}

.main-header {
  background-color: var(--white);
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-change {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
}

.menu-bar li a {
  color: var(--black);
  font-size: 22px;
  font-weight: 100;
  white-space: nowrap;
  transition: all 500ms ease-in-out;
}

.menu-bar li > a:hover {
  color: var(--primary);
  text-shadow: 0px 0px 3px var(--black);
}

.icone-menu li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icone-menu-title {
  color: var(--white);
  display: none;
}

.mobile-screen-icone {
  display: none;
  opacity: 0;
}

.mobile-screen-icone a {
  color: var(--black);
  width: 40px;
  height: 40px;
}

.mobile-screen-icone a svg {
  width: 100%;
  height: 100%;
}

.main-event-blog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.main-event-blog {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  background-color: var(--black);
  top: 80%;
  color: var(--white);
  padding: 72px 100px;
  opacity: 0;
  transition: all 500ms ease-in-out;
  visibility: hidden;
  z-index: 10;
}

.event-iteam:hover .main-event-blog {
  opacity: 1;
  visibility: visible;
}

.iteam-bar .list-blog {
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 22px !important;
}

.iteam-bar .list-blog-s2,
.list-blog-s3 {
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 18px !important;
}

.iteam-bar .list-blog a {
  color: var(--white);
  font-size: 29px;
  opacity: 50%;
}

.iteam-bar .list-blog-s2 a {
  color: var(--white);
  font-size: 18px;
  font-family: var(--acumin-pro);
  font-weight: 100;
}

.iteam-icone {
  width: 20px;
  height: 20px;
}

.iteam-icone svg {
  width: 100%;
  height: 100%;
}

.list-blog-s3 {
  display: flex;
  gap: 10px;
}

.iteam-bar .list-blog-s3 a {
  color: white;
  color: var(--white);
  font-size: 18px;
  font-family: var(--acumin-pro);
  font-weight: 100;
}

.iteam-blog {
  position: relative;
  height: fit-content;
}

.blog-img-content {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iteam-title {
  padding-bottom: 18px;
}

.blog-four-title {
  padding-bottom: 22px;
}

.search-box input[type="search"] {
  width: 100%;
  padding: 10px 0px;
  border-style: none;
  border-bottom: 1px solid #ffffff3d;
  outline: none;
  color: white;
  background-color: transparent;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search-boxr::placeholder {
  color: var(--white);
  opacity: 64%;
  font-size: 18pt;
  font-family: var(--acumin-pro);
}

.search-box {
  width: 100%;
  position: relative;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.responsive-seach-box {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  padding: 0px 10px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 0);
  width: fit-content;
  height: 100%;
  border-bottom: 1px solid #ffffff3d;
}

.toggle-cancel {
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

.cancle-img {
  color: var(--white);
  width: 52px;
  height: 44px;
}

.cancle-img svg {
  width: 100%;
  height: 100%;
}

.main-about-box {
  position: relative;
}

.main-about-box .about-menu-bar {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 999;
  width: 140px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.main-about-box:hover .about-menu-bar {
  visibility: visible;
  opacity: 1;
}

.about-menu-bar ul li:not(:last-child) {
  margin-bottom: 20px;
}

.about-menu-bar ul li .font-link {
  display: inline-block;
  font-size: 20px;
}

@media (max-width: 1240px) {
  /* header {
    height: 100%;
  } */

  .top-header {
    display: none;
    position: relative;
  }

  .mobile-screen-icone {
    display: flex;
    gap: 10px;
    opacity: 1;
    margin-left: 20px;
  }

  .search-box {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .main-menu {
    top: -100%;
    left: 0;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    opacity: 0;
    transition: all 500ms ease-in-out;
    z-index: 999;
  }

  .menu-bar {
    flex-direction: column;
    align-items: start;
  }

  .active {
    top: 0;
    opacity: 1;
  }

  .menu-bar > li:not(:first-child) {
    margin-left: 0px;
    border-left: 1px solid transparent;
    padding: 0px;
    padding-bottom: 16px;
  }

  .menu-bar > li a {
    color: var(--white);
    font-size: 45px;
    opacity: 50%;
    transition: all 500ms ease-in-out;
  }

  .menu-bar > li a:hover {
    color: var(--white);
    opacity: 100%;
  }

  .menu-bar > li {
    padding-bottom: 16px;
  }

  .icone-menu {
    flex-direction: column;
    align-items: center;
  }

  .icone-menu-title {
    display: block;
    font-family: var(--transducer);
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
  }

  .icone-menu .icon-dec {
    width: 50px;
    height: 50px;
    color: var(--primary);
  }

  .icone-box {
    width: 64px;
    height: 64px;
    padding: 15px;
    background-color: #ffffff51;
  }

  .icone-menu li:last-child {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .main-event-blog {
    display: none;
  }
}

/* hero-banner */
.hero-banner {
  background-color: var(--black);
  padding: 100px 0px;
  position: relative;
}

.hero-banner-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.hero-banner-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-banner-title {
  max-width: 664px;
  margin-bottom: 22px;
  display: inline-block;
  color: var(--primary);
  font-style: italic;
  font-weight: 100;
  letter-spacing: 4px;
}

.hero-banner-subtitle {
  color: var(--white);
}

.hero-banner-dec {
  max-width: 481px;
  line-height: 1.5;
  font-size: 16px;
  color: var(--white);
  margin-bottom: 30px;
}

.hero-banner-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.hero-banner-newsletter {
  color: var(--white);
  width: 100%;
  margin-top: 100px;
  text-align: center;
  background-color: var(--black);
  padding: 10px 0px;
}

.highlights-title {
  color: var(--primary);
}

.hero-warp {
  position: relative;
  z-index: 2;
}

.hero-banner-mobile-img {
  display: none;
  width: calc(100% + 32px);
  margin: 0 -16px;
}

@media (max-width: 1024px) {
  .hero-banner-img {
    display: none;
  }
  .hero-banner-mobile-img {
    display: block;
    height: 414px;
  }

  .hero-banner-mobile-img img {
    height: 100%;
    object-fit: cover;
  }
}

.bike-slider-sec {
  overflow: hidden;
  padding: 100px 0px;
}

.slider-bar {
  padding: 100px 0px;
}

.slider-img {
  transition: all 300ms ease-in-out;
}

.slider-img img {
  width: 100%;
  height: 100%;
}

.silder-box {
  background-color: var(--gray);
  padding: 30px 60px;
}

.slider-title {
  letter-spacing: 1px;
}

.img-changing {
  position: relative;
}

.slider-img-hov {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.slider-img-hov {
  width: 100%;
  height: 100%;
}

.slider-img-hov:hover {
  opacity: 1;
}

.bike-slider .splide__track {
  overflow: visible;
}

.main-silder-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.silder-btn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pre-btn {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  width: 56px;
  height: 46px;
  transition: all 300ms ease-in-out;
}

.pre-btn:hover {
  color: var(--black);
  background-color: var(--primary);
}

.pre-next {
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 56px;
  height: 46px;
  transition: all 300ms ease-in-out;
}

.pre-next:hover {
  color: var(--white);
  background-color: var(--black);
}

@media (max-width: 768px) {
  .slider-title {
    font-size: 22px;
  }
}

.auto-scroll-sec {
  padding: 100px 0px;
  background-color: black;
}

.auto-slider-maintitle {
  text-align: center;
  color: white;
  margin-bottom: 56px;
}

/* .auto-box {
  position: relative;
} */

.auto-scroll-sec {
  overflow: hidden;
}

.auto-scroll-sec .splide__track {
  overflow: visible;
}

.auto-img-box {
  position: relative;
}

.auto-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.auto-box-title {
  position: absolute;
  color: var(--white);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.auto-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-tow-col {
  padding: 100px 0px;
}

.tow-colume-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.rider-img-col {
  width: 670px;
  height: 568px;
}

.rider-img-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-tow-col .btn-primary:hover {
  border: 1px solid var(--black);
  color: var(--black) !important;
}

.colume-content {
  width: 40%;
}

.tow-colume-title {
  font-weight: 100;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.tow-colume-dec {
  margin-bottom: 40px;
  font-size: 18px;
  font-family: var(--acumin);
  font-weight: 100;
  color: var(--birch);
  line-height: 1.5;
  max-width: 450px;
}

@media (max-width: 1024px) {
  .tow-colume-box {
    flex-direction: column;
    align-items: start;
  }

  .colume-content {
    width: 100%;
  }

  .rider-img-col {
    width: calc(100% + 32px);
    height: 425px;
    margin: 0 -16px;
  }

  .tow-colume-dec {
    max-width: 100%;
  }

  .main-tow-col {
    padding: 50px 0px;
  }
}

.parts-sec {
  background-image: url(../images/section/parth-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 76px 0px;
}

.parts-title {
  text-align: center;
  color: var(--white);
  font-weight: 100;
  margin-bottom: 25px;
}

.parsts-btn {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .parts-sec {
    background-size: 100% 85%;
  }
}

@media (max-width: 640px) {
  .parts-sec {
    background-size: 100% 66%;
  }
}

.barand-sec {
  overflow: hidden;
  padding: 100px 0px;
}

.barand-sec .splide__track {
  overflow: visible;
}

.brand-logo-img {
  max-width: 200px;
  height: 100px;
}

.brand-logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.brand-title {
  margin-bottom: 62px;
}

.location-sec {
  padding: 100px 0px;
  background-color: var(--black);
}

.oquotatin-icone {
  display: block;
  text-align: center;
  font-size: 50px;
  color: var(--white);
}

.location-title {
  text-align: center;
  font-size: 50px;
  color: var(--white);
  margin-bottom: 50px;
}

.location-sub-title {
  color: var(--primary);
}

.min-title {
  display: block;
  color: var(--white);
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 70px;
}

.liner-slider-box {
  display: flex;
  justify-content: center;
}

.my-slider-progress {
  background: rgba(255, 255, 0, 0.333);
  width: 210px;
  height: 2px;
}

.my-slider-progress-bar {
  background: var(--primary);
  height: 2px;
  transition: width 400ms ease;
  width: 210;
}

@media (max-width: 640px) {
  .location-title {
    font-size: 25px;
  }

  .barand-sec {
    padding: 50px 0px;
  }
}

.help-sec {
  background-image: url(../images/section/help-img.png);
  background-repeat: no-repeat;
  padding: 200px 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.help-main-title {
  color: var(--white);
  text-align: center;
  max-width: 970px;
  margin-bottom: 24px;
}

.helping-sub-title {
  color: var(--primary);
}

.footer-banner-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.img-tras {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 640px) {
  .help-sec {
    background-position: 63%;
  }
}

.social-img-sec {
  overflow: hidden;
  background-color: var(--black);
}

.social-img-sec .splide__track {
  overflow: visible;
}

.footer-img-slider {
  width: 230px;
  height: 210px;
}
.footer-img-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-img-title {
  text-align: center;
  color: var(--white);
  margin-bottom: 30px;
}

.social-img-subtitle {
  color: var(--primary);
}

@media (max-width: 1024px) {
  .footer-img-slider {
    width: 150px;
    height: 150px;
  }
  .footer-img-slider img {
    width: 100%;
    height: 100%;
  }
}

footer {
  background-color: var(--black);
  padding: 80px 0px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-block {
  width: 40%;
}

.finance-partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
}

.finance-img {
  width: 80px;
  height: 70px;
}

.finance-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-title {
  color: var(--white);
  margin-bottom: 32px;
}

.contact-icone {
  color: var(--primary);
  padding: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.185);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-blog {
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
  font-family: var(--acumin-pro);
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 20px;
}

.footer-dec {
  line-height: 1.5;
}

.footer-block input[type="email"] {
  border: none;
  outline: none;
  background-color: var(--black);
  padding: 12px 0px;
  width: 100%;
  border-bottom: 1px solid var(--white);
  color: white;
  font-size: 14px;
  margin-bottom: 36px;
}

.footer-block ::placeholder {
  color: var(--white);
}

.footer-icon-box {
  background-color: rgba(255, 255, 255, 0.355);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-icon-box img {
  width: 24px;
  height: 20px;
  object-fit: contain;
}

.footer-social {
  display: flex;
  margin-top: 50px;
  align-items: center;
  gap: 15px;
}

.footer-menu-bar {
  display: flex;
  gap: 100px;
  margin-top: 50px;
}

.footer-list:not(:last-child) {
  margin-bottom: 20px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.605);
  font-size: 12px;
  font-family: var(--acumin);
  transition: all 300ms ease-in-out;
}

.footer-link:hover {
  color: var(--white);
}

.footer-blog-2 {
  display: none;
  visibility: hidden;
}

.partners-box {
  color: var(--white);
  margin-top: 40px;
  display: inline-block;
  font-family: var(--acumin-pro);
}

@media (max-width: 768px) {
  .footer-inner {
    flex-direction: column;
  }

  .footer-block {
    width: 100%;
    margin-top: 20px;
  }

  .finance-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .footer-blog-1 {
    display: none;
    visibility: hidden;
  }

  .footer-blog-2 {
    display: flex;
    visibility: visible;
  }
}

@media (max-width: 640px) {
  .finance-partners {
    flex-wrap: wrap;
    gap: 10px;
  }

  .finance-img {
    width: 40%;
  }

  .footer-dec {
    font-size: 14px;
  }

  .finance-img img {
    width: 100%;
    height: 100%;
  }

  .footer-menu-bar {
    gap: 0;
    justify-content: space-evenly;
  }

  .footer-list:not(:last-child) {
    margin-bottom: 14px;
  }
}

.filter-sec {
  padding: 200px 0px;
}

.filter-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px 34px;
}

.box {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slid-bar {
  /* position: relative; */
  width: 100%;
  height: 100%;
  grid-row: 1/5;
}

.filter-box {
  position: sticky;
  top: 200px;
}

.back-to-home {
  color: var(--black);
  margin-bottom: 42px;
  display: inline-block;
  font-style: italic;
}

.filter-subtitle {
  color: rgba(0, 0, 0, 0.363);
  font-style: italic;
}

.filter-main-title {
  font-size: 35px;
  margin-bottom: 48px;
}

.clear-btn {
  display: inline-block;
  color: var(--black);
  opacity: 50%;
  margin-bottom: 20px;
}

.filter-silder-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-silder-title {
  font-size: 20px;
}

.custom-filter-box {
  padding: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.311);
  border-bottom: 1px solid rgba(0, 0, 0, 0.311);
  cursor: pointer;
}

.filter-inputbox {
  padding: 26px 0px;
}

.inputbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-inputbox input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}

.filter-inputbox input[type="checkbox"]::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 80%;
  height: 80%;
  inset: 0;
  margin: auto;
  border-radius: 2px;
  display: none;
  z-index: 2;
}

.filter-inputbox input[type="checkbox"]:checked::before {
  display: block;
}

.filter-inputbox label {
  cursor: pointer;
}

.filter-icone {
  color: var(--black);
  width: 18px;
  height: 18px;
  transition: all 300ms ease-in-out;
}

.filter-icone svg {
  width: 100%;
  height: 100%;
}

.filter-blog {
  background-color: var(--gray);
  padding: 20px;
}

.filter-img {
  width: 280px;
  height: 260px;
}

.filter-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filter-inner-title {
  margin-top: 20px;
  font-size: 15px;
}

.price-title {
  font-size: 18px;
}

.available-box {
  grid-column: 2/5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 50px 70px;
  background-image: url(../images/section/avb-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.ave-title {
  font-size: 52px;
  color: var(--white);
}

.ave-subtitle {
  display: inline-block;
  color: var(--primary);
}

.ava-dec {
  color: var(--white);
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--acumin-pro);
  max-width: 472px;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more-img-box {
  display: flex;
  justify-content: center;
  grid-column: 2/5;
}

.res-filter-btn {
  display: flex;
  gap: 10px;
}

.img-rot {
  display: block;
}

.res-title {
  font-size: 20px;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: 900;
  cursor: pointer;
}

.res-filter-btn {
  visibility: hidden;
}

.veh-box {
  background-color: var(--black);
  text-align: center;
  padding: 32px 36px;
  padding-top: 100px;
  width: calc(100% + 32px);
  margin: 0 -16px;
  visibility: hidden;
  display: none;
  margin-bottom: 50px;
}

.veh-title {
  color: white;
  margin-bottom: 28px;
}

.vhe-dec {
  color: white;
  opacity: 50%;
  max-width: 342px;
  height: 53px;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
}

.custom-filter-subtitle {
  font-size: 20px;
  margin-bottom: 44px;
}

.btn-cancel {
  width: 100%;
  display: none;
  justify-content: end;
}

.filter-cancle-btn {
  display: block;
  width: 52px;
  height: 44px;
  color: black;
  display: flex;
  justify-content: flex-end;
}

.filter-cancle-btn svg {
  width: 100%;
  height: 100%;
}

.active-ac .filter-icone {
  transform: rotate(45deg);
}

@media (max-width: 1400px) {
  .filter-inner {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .slid-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
  }

  .available-box {
    /* display: none; */
    grid-column: 2/5;
  }

  .more-img-box {
    display: none;
  }
}

@media (max-width: 1240px) {
  .slid-bar {
    grid-column: 1 / 3;
    grid-row: 1 / 8;
  }
  .available-box {
    grid-column: 3/5;
  }

  .filter-inner div:nth-child(11) {
    display: none;
  }

  .filter-img {
    width: 360px;
    height: 340px;
  }
}

@media (max-width: 1024px) {
  .slid-bar {
    grid-column: 1 / 3;
    grid-row: 1 / 8;
  }
  .available-box {
    grid-column: 3/5;
  }

  .filter-inner div:nth-child(11) {
    display: none;
  }

  .filter-img {
    width: 260px;
    height: 240px;
  }

  .filter-subtitle {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .filter-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-sec {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .res-filter-btn {
    visibility: visible;
  }

  .slid-bar {
    /* grid-column: 1 / 1;
    grid-row: 1/1; */
    position: absolute;
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    z-index: 1000;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    padding: 20px;
  }

  .filter-box {
    position: static;
    width: 100%;
    height: 100%;
  }

  .is-visible {
    left: 0;
    visibility: visible;
  }

  .is-visible {
    opacity: 1;
  }

  .svg-tras svg {
    transform: rotate(-90deg);
  }

  .off-scroll {
    overflow: hidden;
    height: 100%;
  }

  .btn-cancel {
    display: flex;
  }

  .available-box {
    grid-column: 1/3;
  }

  .more-img-box {
    grid-column: 1/3;
  }

  .clear-btn {
    font-size: 20px;
    letter-spacing: 2px;
    font-style: italic;
  }

  .filter-silder-title {
    font-size: 48px;
  }

  .inputbox {
    margin-bottom: 16px;
  }

  .inputbox label {
    font-size: 20px;
  }

  .filter-inputbox input[type="checkbox"] {
    width: 33px;
    height: 33px;
  }

  .filter-main-title {
    display: none;
    visibility: hidden;
  }

  .filter-icone {
    display: inline-block;
    width: 22px;
    height: 22px;
  }

  .filter-icone svg {
    width: 100%;
    height: 100%;
  }

  .veh-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
  }
}

@media (max-width: 640px) {
  .filter-inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .available-box {
    grid-column: 1/1;
    /* display: none; */
  }

  .more-img-box {
    width: 100%;
    height: 100%;
  }

  .ave-title {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .available-box {
    width: calc(100% + 32px);
    margin: 0 -16px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .filter-img {
    width: 100%;
    height: 100%;
  }

  .ava-dec {
    margin-bottom: 20px;
  }
}

.add-card-sec {
  padding: 100px 0px;
  padding-bottom: 0;
  position: relative;
}

.add-card-sec::after {
  content: "";
  position: absolute;
  background-color: var(--gray);
  top: 0;
  right: 0;
  z-index: -1;
  width: 70%;
  height: 90%;
  clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%);
}

.view-blog {
  display: flex;
  gap: 20px;
  align-items: center;
}

.colum-img-blog {
  width: 882px;
  height: 560px;
}

.colum-img-blog img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.colum-title {
  margin-bottom: 22px;
}

.colum-dec {
  font-family: var(--acumin);
  line-height: 1.5;
  opacity: 47%;
  max-width: 356px;
  height: 50px;
  overflow: hidden;
  text-overflow: clip;
  margin-bottom: 12px;
}

.col-font-link {
  font-size: 12px;
  color: var(--black);
  margin-bottom: 25px;
  display: inline-block;
  text-decoration: underline;
}

.price-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

.price-nub {
  font-size: 25px;
}

.sub-nub-price {
  font-size: 12px;
  opacity: 50%;
  font-family: var(--acumin-pro);
  font-weight: 100;
}

.tow-col-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 14px;
}

.select-col-box {
  width: 136px !important;
  height: 83px !important;
}

.select-col-box .select2-container .select2-selection--single {
  width: 136px !important;
  height: 83px !important;
  border-radius: 0;
  border: 1px solid var(--black);
}

.select-col-box
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100%;
  width: 136px;
  position: absolute;
  top: 1px;
  right: 50%;
  left: 50%;
}

.select-col-box
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.select2-container--open .select2-dropdown--below {
  background-color: gray !important;
  width: 137px !important;
  height: 60px !important;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  height: 60px;
  background-color: gray !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toe-col-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  color: black;
}

.toe-col-checkbox input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--primary);
  border-radius: 50%;
  position: relative;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.toe-col-checkbox input[type="checkbox"]::before {
  content: "";
  position: absolute;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.toe-col-checkbox input[type="checkbox"]:checked:before {
  display: block;
}

.toe-col-checkbox label {
  color: var(--black);
  font-family: var(--acumin-pro);
  font-size: 12px;
  font-weight: 100;
  opacity: 50%;
  cursor: pointer;
}

.col-main-btn {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.col-btn {
  width: 100%;
  height: 152px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

.col-btn {
  background-color: var(--black);
  color: var(--white);
  transition: all 300ms ease-in-out;
}

.col-btn:hover {
  background-color: var(--primary);
  color: var(--black);
}

.col-btn-v2 {
  background-color: var(--primary);
  color: var(--black);
  transition: all 300ms ease-in-out;
}

.col-btn-v2:hover {
  background-color: var(--black);
  color: var(--white);
}

.main-img-box {
  padding-bottom: 100px;
}

.three-col-box {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.fancy-img-blog {
  width: 110px;
  height: 60px;
  margin-right: -20px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.fancy-img-blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dobule-arow {
  display: inline-block;
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  animation: arrow-btn 700ms linear 2s infinite alternate;
}

.dobule-arow .arow-do-icone {
  width: 100%;
  height: 100%;
}

@keyframes arrow-btn {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-5%);
  }
}

@media (max-width: 1240px) {
  .view-blog {
    justify-content: space-between;
  }

  .colum-img-blog {
    width: 582px;
    height: 460px;
  }

  .colum-img-blog img {
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .view-blog {
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
  }

  .colum-img-blog {
    width: 80%;
    height: 100%;
  }

  .colum-img-blog img {
    object-fit: contain;
  }

  .colum-title {
    font-size: 40px;
  }

  .main-img-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }

  .colum-dec {
    max-width: 100%;
    height: 77px;
  }

  .three-col-box {
    margin: 0;
  }

  .tow-col-btn {
    justify-content: start;
  }

  .col-btn {
    font-size: 35px;
  }
}

@media (max-width: 640px) {
  .colum-img-blog {
    width: 100%;
    height: 100%;
  }

  .col-main-btn {
    flex-direction: column;
  }

  .toe-col-checkbox label {
    font-size: 14px;
  }

  .toe-col-checkbox input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }
}

.specifics-sec {
  position: relative;
  padding: 100px 0px;
  overflow: hidden;
}

.specifics-block {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}

.detail-blog,
.demension-blog {
  width: 50%;
}

.specifics-list {
  display: flex;
  align-items: center;
  padding: 30px 0;
  gap: 50px;
}

.specifics-maintitle {
  color: var(--black);
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 46px;
}

.specifics-block ul li {
  position: relative;
}

.specifics-block ul li:nth-child(odd)::before {
  content: "";
  background-color: var(--gray);
  position: absolute;
  display: block;
  width: 500%;
  height: 100%;
  left: -50%;
  top: 0;
  z-index: -1;
}

.specifics-title {
  color: var(--black);
  min-width: 333px;
}

.specifics-block ul li:nth-child(odd) {
  background-color: var(--gray);
  width: 100%;
}

.title-edit {
  margin-bottom: 30px;
  text-decoration: underline;
}

.specifics-dec {
  font-size: 18px;
  font-family: var(--acumin-pro);
  font-weight: 100;
  opacity: 50%;
}

@media (max-width: 1024px) {
  .specifics-block {
    flex-direction: column;
  }

  .specifics-list {
    width: 500%;
    gap: 10px;
  }
}

@media (max-width: 640px) {
  .specifics-title {
    font-size: 25px;
    min-width: 133px;
    max-width: 144px;
  }

  .title-edit {
    width: 100%;
  }

  .specifics-dec {
    width: 20%;
  }
}

.key-sec {
  padding: 100px 0px;
}

.main-key-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.key-title {
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.key-img-bock {
  position: relative;
  margin-bottom: 40px;
}

.key-img-bock:hover {
  /* background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(0, 255, 255, 0.3)
  ); */
}

.key-img-title {
  width: 254px;
  height: 70px;
  color: var(--white);
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
  clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.key-dec {
  line-height: 1.5;
  opacity: 25%;
  max-width: 420px;
  height: 100px;
  font-family: var(--acumin-pro);
}

@media (max-width: 1024px) {
  .main-key-blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 639px) {
  .main-key-blog {
    grid-template-columns: repeat(1, 1fr);
  }

  .key-sec{
    padding: 50px 0px;
  }
}
