:root {
  --transducer: "Transducer", "sans-serif";
  --transducer-condensed: "Transducer Test Black Condensed Oblique",
    "sans-serif";
  --transducer-hairline-extended: "Transducer Test Hairline Extended Oblique",
    "sans-serif";
  --transducer-hairline-condensed: "Transducer Test Hairline Condensed Oblique",
    "sans-serif";
  --transducer-test-medium-condensed: "Transducer Test Medium Condensed",
    "sans-serif";
  --transducer-test-hairline-condensed: "Transducer Test Hairline Oblique",
    "sans-serif";
  --transducer-test-black-extended: "Transducer Test Black Extended",
    "sans-serif";
  --acumin: "Acumin Pro", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  --acumin-pro: "Acumin Pro Wide", "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
  --primary: #ffff37;
  --white: #ffffff;
  --black: #000000;
  --gray: #f8f8f8;
  --birch: #332d29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* outline: auto; */
}

body {
  font-size: 16px;
  font-family: var(--transducer);
}

.container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 16px;
}

img {
  width: 100%;
  display: block;
}

h1,
.h1 {
  font-size: 55px;
}

h2,
.h2 {
  font-size: 44px;
}

h3,
.h3 {
  font-size: 40px;
}

h4,
.h4 {
  font-size: 30px;
}

label {
  user-select: none;
  display: block;
  line-height: 2;
}

@media (max-width: 640px) {
  h1,
  .h1 {
    font-size: 40px;
  }

  h2,
  .h2 {
    font-size: 25px;
  }

  h3,
  .h3 {
    font-size: 20px;
  }

  h4,
  .h4 {
    font-size: 20px;
  }
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: 32px 44px;
  text-align: center;
  text-wrap: nowrap;
  width: fit-content;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 900;
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--black) !important;
  transition: all 300ms ease-in-out;
}

.btn-primary:hover {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white) !important;
}

.btn-dark {
  background-color: var(--black);
  border: 1px solid transparent;
  color: var(--white) !important;
  transition: all 300ms ease-in-out;
}

.btn-dark:hover {
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black) !important;
}

.btn-tras {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--black) !important;
  transition: all 300ms ease-in-out;
}

.btn-tras:hover {
  background-color: transparent;
  border: 1px solid var(--black);
}

.btn-secondery {
  color: var(--white) !important;
  background-color: transparent;
  border: 1px solid var(--white);
  transition: all 300ms ease-in-out;
}

.btn-secondery:hover {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--black) !important;
}

.btn-secondery {
  color: var(--black) !important;
  background-color: transparent;
  border: 1px solid var(--black);
  transition: all 300ms ease-in-out;
}

.btn-secondery:hover {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--black) !important;
}

.btn-secondery-v2 {
  color: var(--black) !important;
  background-color: transparent;
  border: 1px solid var(--black);
  transition: all 300ms ease-in-out;
}

.btn-secondery-v2:hover {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--black) !important;
}

img {
  display: block;
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  /* height: 100%; */
  z-index: 999;
}

.top-header {
  background-color: var(--black);
}

.top-header-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-contact-blog {
  display: flex;
  align-items: center;
  gap: 22px;
}

.social-blog {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 12px 0px;
}

.social-content {
  font-family: var(--acumin-pro);
  color: var(--white);
  font-size: 12px;
  font-weight: 100;
}

.main-header-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu-bar {
  display: flex;
  align-items: center;
  list-style: none;
}

.icone-menu {
  display: flex;
  gap: 12px;
  align-items: center;
}

.icone-menu .icon-dec {
  width: 20px;
  height: 20px;
  color: var(--white);
  transition: all 500ms ease-in-out;
}

.icone-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  opacity: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.icone-menu .icon-dec:hover {
  color: var(--primary);
}

.icone-menu .icon-dec svg {
  width: 100%;
  height: 100%;
}

.menu-bar > li:not(:first-child) {
  margin-left: 22px;
  border-left: 1px solid #00000029;
  padding: 20px 0px;
  padding-left: 22px;
}

.main-header {
  background-color: var(--white);
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-change {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
}

.menu-bar li a {
  color: var(--black);
  font-size: 22px;
  font-weight: 100;
  white-space: nowrap;
  transition: all 500ms ease-in-out;
  font-family: var(--transducer-test-medium-condensed);
  font-weight: 500;
}

.menu-bar li > a:hover {
  color: var(--primary);
  text-shadow: 0px 0px 3px var(--black);
}

.icone-menu li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icone-menu-title {
  color: var(--white);
  display: none;
}

.mobile-screen-icone {
  display: none;
  opacity: 0;
}

.mobile-screen-icone a {
  color: var(--black);
  width: 40px;
  height: 40px;
}

.mobile-screen-icone a svg {
  width: 100%;
  height: 100%;
}

.main-event-blog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.main-event-blog {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  background-color: var(--black);
  top: 80%;
  color: var(--white);
  padding: 72px 100px;
  opacity: 0;
  transition: all 500ms ease-in-out;
  visibility: hidden;
  z-index: 10;
}

.event-iteam:hover .main-event-blog {
  opacity: 1;
  visibility: visible;
}

.iteam-bar .list-blog {
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 22px !important;
}

.iteam-bar .list-blog-s2,
.list-blog-s3 {
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 18px !important;
}

.iteam-bar .list-blog a {
  color: var(--white);
  font-size: 29px;
  opacity: 50%;
}

.iteam-bar .list-blog-s2 a {
  color: var(--white);
  font-size: 18px;
  font-family: var(--acumin-pro);
  font-weight: 100;
}

.iteam-icone {
  width: 20px;
  height: 20px;
}

.iteam-icone svg {
  width: 100%;
  height: 100%;
}

.list-blog-s3 {
  display: flex;
  gap: 10px;
}

.iteam-bar .list-blog-s3 a {
  color: white;
  color: var(--white);
  font-size: 18px;
  font-family: var(--acumin-pro);
  font-weight: 100;
}

.iteam-blog {
  position: relative;
  height: fit-content;
}

.blog-img-content {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iteam-title {
  padding-bottom: 18px;
}

.blog-four-title {
  padding-bottom: 22px;
}

.search-box input[type="search"] {
  width: 100%;
  padding: 10px 0px;
  border-style: none;
  border-bottom: 1px solid #ffffff3d;
  outline: none;
  color: white;
  background-color: transparent;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search-boxr::placeholder {
  color: var(--white);
  opacity: 64%;
  font-size: 18pt;
  font-family: var(--acumin-pro);
}

.search-box {
  width: 100%;
  position: relative;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.responsive-seach-box {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  padding: 0px 10px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 0);
  width: fit-content;
  height: 100%;
  border-bottom: 1px solid #ffffff3d;
}

.toggle-cancel {
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

.cancle-img {
  color: var(--white);
  width: 52px;
  height: 44px;
}

.cancle-img svg {
  width: 100%;
  height: 100%;
}

.main-about-box {
  position: relative;
}

.main-about-box .about-menu-bar {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 999;
  width: 140px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.main-about-box:hover .about-menu-bar {
  visibility: visible;
  opacity: 1;
}

.about-menu-bar ul li:not(:last-child) {
  margin-bottom: 20px;
}

.about-menu-bar ul li .font-link {
  display: inline-block;
  font-size: 20px;
}

@media (max-width: 1240px) {
  /* header {
    height: 100%;
  } */

  .top-header {
    display: none;
    position: relative;
  }

  .mobile-screen-icone {
    display: flex;
    gap: 10px;
    opacity: 1;
    margin-left: 20px;
  }

  .search-box {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .main-menu {
    top: -100%;
    left: 0;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    opacity: 0;
    transition: all 500ms ease-in-out;
    z-index: 999;
  }

  .menu-bar {
    flex-direction: column;
    align-items: start;
  }

  .active {
    top: 0;
    opacity: 1;
  }

  .menu-bar > li:not(:first-child) {
    margin-left: 0px;
    border-left: 1px solid transparent;
    padding: 0px;
    padding-bottom: 16px;
  }

  .menu-bar > li a {
    color: var(--white);
    font-size: 45px;
    opacity: 50%;
    transition: all 500ms ease-in-out;
  }

  .menu-bar > li a:hover {
    color: var(--white);
    opacity: 100%;
  }

  .menu-bar > li {
    padding-bottom: 16px;
  }

  .icone-menu {
    flex-direction: column;
    align-items: center;
  }

  .icone-menu-title {
    display: block;
    font-family: var(--transducer);
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
  }

  .icone-menu .icon-dec {
    width: 50px;
    height: 50px;
    color: var(--primary);
  }

  .icone-box {
    width: 64px;
    height: 64px;
    padding: 15px;
    background-color: #ffffff51;
  }

  .icone-menu li:last-child {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .main-event-blog {
    display: none;
  }
}

/* hero-banner */
.hero-banner {
  background-color: var(--black);
  padding: 100px 0px;
  padding-top: 200px;
  position: relative;
}

.hero-banner-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.hero-banner-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-banner-title {
  max-width: 664px;
  margin-bottom: 22px;
  display: inline-block;
  color: var(--primary);
  font-style: italic;
  font-weight: 100;
  letter-spacing: 4px;
  font-family: var(--transducer-hairline-extended);
  font-weight: 600;
}

.hero-banner-subtitle {
  color: var(--white);
  font-weight: bold;
}

.hero-banner-dec {
  max-width: 481px;
  line-height: 1.5;
  font-size: 16px;
  color: var(--white);
  margin-bottom: 30px;
}

.hero-banner-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.hero-banner-newsletter {
  color: var(--white);
  width: 100%;
  margin-top: 100px;
  text-align: center;
  background-color: var(--black);
  padding: 10px 0px;
}

.highlights-title {
  color: var(--primary);
}

.hero-warp {
  position: relative;
  z-index: 2;
}

.hero-banner-mobile-img {
  display: none;
  width: calc(100% + 32px);
  margin: 0 -16px;
}

@media (max-width: 1024px) {
  .hero-banner-img {
    display: none;
  }
  .hero-banner-mobile-img {
    display: block;
    height: 414px;
  }

  .hero-banner-mobile-img img {
    height: 100%;
    object-fit: cover;
  }
}

.bike-slider-sec {
  overflow: hidden;
  padding: 100px 0px;
}

.slider-bar {
  padding: 100px 0px;
}

.main-title {
  font-family: var(--transducer-test-medium-condensed);
  letter-spacing: 1px;
  font-weight: 500;
}

.slider-img {
  transition: all 300ms ease-in-out;
}

.slider-img img {
  width: 100%;
  height: 100%;
}

.silder-box {
  background-color: var(--gray);
  padding: 30px 60px;
}

.slider-title {
  letter-spacing: 1px;
  font-style: italic;
  font-family: 30px;
}

.img-changing {
  position: relative;
}

.slider-img-hov {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.slider-img-hov {
  width: 100%;
  height: 100%;
}

.slider-img-hov:hover {
  opacity: 1;
}

.bike-slider .splide__track {
  overflow: visible;
}

.main-silder-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.silder-btn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pre-btn {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  width: 56px;
  height: 46px;
  transition: all 300ms ease-in-out;
}

.pre-btn:hover {
  color: var(--black);
  background-color: var(--primary);
}

.pre-next {
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 56px;
  height: 46px;
  transition: all 300ms ease-in-out;
}

.pre-next:hover {
  color: var(--white);
  background-color: var(--black);
}

@media (max-width: 768px) {
  .slider-title {
    font-size: 22px;
  }

  .main-title {
    font-size: 30px;
  }
}

.auto-scroll-sec {
  padding: 100px 0px;
  background-color: black;
}

.auto-slider-maintitle {
  text-align: center;
  color: white;
  margin-bottom: 56px;
  font-family: var(--transducer-test-medium-condensed);
  font-size: 45px;
  font-weight: 400;
}

/* .auto-box {
  position: relative;
} */

.auto-scroll-sec {
  overflow: hidden;
}

.auto-scroll-sec .splide__track {
  overflow: visible;
}

.auto-img-box {
  position: relative;
}

.auto-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.auto-box-title {
  position: absolute;
  color: var(--white);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 60px;
  font-family: var(--transducer-test-black-extended);
  font-weight: bold;
  font-style: italic;
  transition: all 300ms ease-in-out;
}

.auto-img-box:hover .auto-box-title {
  color: var(--primary);
}

.auto-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tow-colume-subtitle {
  color: #bcbcbc;
  margin-bottom: 12px;
}

.main-tow-col {
  padding: 100px 0px;
}

.tow-colume-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.rider-img-col {
  width: 670px;
  height: 568px;
  overflow: hidden;
}

.rider-img-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 500ms ease-in-out;
}

.main-tow-col .btn-primary:hover {
  border: 1px solid var(--black);
  color: var(--black) !important;
}

.colume-content {
  width: 40%;
}

.tow-colume-title {
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-family: var(--transducer-test-black-extended);
  font-style: italic;
}

.tow-colume-dec {
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 18px;
  font-family: var(--acumin-pro);
  font-weight: 100;
  color: var(--birch);
  line-height: 1.5;
  max-width: 450px;
}

.rider-img-col:hover img {
  transform: scale(1.08);
}

@media (max-width: 1240px) {
  .auto-box-title {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .tow-colume-box {
    flex-direction: column;
    align-items: start;
  }

  .colume-content {
    width: 100%;
  }

  .rider-img-col {
    width: calc(100% + 32px);
    height: 425px;
    margin: 0 -16px;
  }

  .tow-colume-dec {
    max-width: 100%;
  }

  .main-tow-col {
    padding: 50px 0px;
  }

  .auto-box-title {
    font-size: 30px;
  }
}

.parts-sec {
  background-image: url(../images/section/parth-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 76px 0px;
}

.parts-title {
  text-align: center;
  color: var(--white);
  font-weight: 100;
  margin-bottom: 25px;
  font-family: var(--transducer-test-black-extended);
  font-style: italic;
}

.parsts-btn {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .parts-sec {
    background-size: 100% 85%;
  }
}

@media (max-width: 640px) {
  .parts-sec {
    background-size: 100% 66%;
  }
}

.barand-sec {
  overflow: hidden;
  padding: 50px 0px;
}

.barand-sec .splide__track {
  overflow: visible;
}

.brand-logo-img {
  max-width: 200px;
  height: 100px;
}

.brand-logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.font-title {
  font-family: var(--transducer-test-black-extended);
}

.brand-title {
  margin-bottom: 62px;
  text-align: center;
  font-style: italic;
  font-weight: 200;
}

.location-sec {
  padding: 100px 0px;
  background-color: var(--black);
}

.oquotatin-icone {
  display: block;
  text-align: center;
  font-size: 118px;
  color: var(--primary);
}

.location-title {
  text-align: center;
  font-size: 30px;
  color: var(--white);
  margin: 0 auto;
  margin-bottom: 50px;
  font-style: italic;
  max-width: 790px;
  font-family: var(--transducer-test-black-extended);
}

.location-sub-title {
  color: var(--primary);
}

.min-title {
  display: block;
  color: var(--white);
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 70px;
}

.liner-slider-box {
  display: flex;
  justify-content: center;
}

.my-splide-progress {
  background: rgba(255, 255, 0, 0.333);
  width: 210px;
  height: 2px;
}

.my-splide-progress-bar {
  background: var(--primary);
  height: 2px;
  transition: width 400ms ease;
  width: 210;
}

@media (max-width: 640px) {
  .location-title {
    font-size: 25px;
  }

  .barand-sec {
    padding: 50px 0px;
  }

  .location-sec {
    padding: 50px 0px;
  }
}

.help-sec {
  background-image: url(../images/section/help-img.png);
  background-repeat: no-repeat;
  padding: 200px 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

.help-main-title {
  color: var(--white);
  text-align: center;
  max-width: 970px;
  margin-bottom: 24px;
  font-size: 40px;
  font-family: var(--transducer-test-black-extended);
  font-style: italic;
}

.helping-sub-title {
  display: inline-block;
  color: var(--primary);
  font-size: 60px;
}

.footer-banner-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.img-tras {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 640px) {
  .help-sec {
    background-position: 63%;
  }

  .help-main-title {
    font-size: 40px;
  }

  .helping-sub-title {
    font-size: 50px;
  }
}

.social-img-sec {
  overflow: hidden;
  background-color: var(--black);
}

.social-img-sec .splide__track {
  overflow: visible;
}

.footer-img-slider {
  width: 230px;
  height: 210px;
}
.footer-img-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-img-title {
  text-align: center;
  color: var(--white);
  margin-bottom: 30px;
}

.social-img-subtitle {
  color: var(--primary);
}

@media (max-width: 1024px) {
  .footer-img-slider {
    width: 150px;
    height: 150px;
  }
  .footer-img-slider img {
    width: 100%;
    height: 100%;
  }
}

footer {
  background-color: var(--black);
  padding: 80px 0px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-block {
  width: 40%;
}

.finance-partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
}

.finance-img {
  width: 80px;
  height: 70px;
}

.finance-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-title {
  color: var(--white);
  margin-bottom: 32px;
  font-family: var(--transducer-test-medium-condensed);
}

.contact-icone {
  color: var(--primary);
  padding: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.185);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-blog {
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
  font-family: var(--acumin-pro);
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 20px;
}

.footer-dec {
  line-height: 1.5;
}

.footer-block input[type="email"] {
  border: none;
  outline: none;
  background-color: var(--black);
  padding: 12px 0px;
  width: 100%;
  border-bottom: 1px solid var(--white);
  color: white;
  font-size: 14px;
  margin-bottom: 36px;
}

.footer-block ::placeholder {
  color: var(--white);
}

.footer-icon-box {
  background-color: rgba(255, 255, 255, 0.355);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-icon-box img {
  width: 24px;
  height: 20px;
  object-fit: contain;
}

.footer-social {
  display: flex;
  margin-top: 50px;
  align-items: center;
  gap: 15px;
}

.footer-menu-bar {
  display: flex;
  gap: 100px;
  margin-top: 50px;
}

.footer-list:not(:last-child) {
  margin-bottom: 20px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.605);
  font-size: 12px;
  font-family: var(--acumin);
  transition: all 300ms ease-in-out;
}

.footer-link:hover {
  color: var(--white);
}

.footer-blog-2 {
  display: none;
  visibility: hidden;
}

.partners-box {
  color: var(--white);
  margin-top: 40px;
  display: inline-block;
  font-family: var(--acumin-pro);
}

@media (max-width: 768px) {
  .footer-inner {
    flex-direction: column;
  }

  .footer-block {
    width: 100%;
    margin-top: 20px;
  }

  .finance-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .footer-blog-1 {
    display: none;
    visibility: hidden;
  }

  .footer-blog-2 {
    display: flex;
    visibility: visible;
  }
}

@media (max-width: 640px) {
  .finance-partners {
    flex-wrap: wrap;
    gap: 10px;
  }

  .finance-img {
    width: 40%;
  }

  .footer-dec {
    font-size: 12px;
  }

  .finance-img img {
    width: 100%;
    height: 100%;
  }

  .footer-menu-bar {
    gap: 0;
    justify-content: space-evenly;
  }

  .footer-list:not(:last-child) {
    margin-bottom: 14px;
  }
}

@media (max-width: 320px) {
  .contact-blog {
    flex-direction: column;
    text-align: center;
  }
}

.filter-sec {
  padding: 100px 0px;
}

.filter-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px 34px;
}

.box {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slid-bar {
  /* position: relative; */
  width: 100%;
  height: 100%;
  grid-row: 1/5;
}

.filter-box {
  position: sticky;
  top: 200px;
}

.back-to-home {
  color: var(--black);
  margin-bottom: 42px;
  display: inline-block;
  font-style: italic;
  font-weight: bold;
}

.filter-subtitle {
  color: rgba(0, 0, 0, 0.363);
  font-style: italic;
  font-size: 10px;
  font-family: var(--transducer-test-black-extended);
}

.filter-main-title {
  font-size: 35px;
  margin-bottom: 48px;
  font-family: var(--transducer-test-medium-condensed);
  font-weight: 100;
}

.clear-btn {
  display: inline-block;
  color: var(--black);
  opacity: 50%;
  margin-bottom: 20px;
  font-family: var(--acumin-pro);
  font-size: 12px;
}

.filter-silder-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-silder-title {
  font-size: 20px;
  font-family: var(--transducer-test-medium-condensed);
  font-weight: 100;
  letter-spacing: 1px;
}

.custom-filter-box {
  padding: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.311);
  border-bottom: 1px solid rgba(0, 0, 0, 0.311);
  cursor: pointer;
}

.filter-inputbox {
  padding: 26px 0px;
}

.inputbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-inputbox input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}

.filter-inputbox input[type="checkbox"]::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 80%;
  height: 80%;
  inset: 0;
  margin: auto;
  border-radius: 2px;
  display: none;
  z-index: 2;
}

.filter-inputbox input[type="checkbox"]:checked::before {
  display: block;
}

.filter-inputbox label {
  cursor: pointer;
  font-family: var(--transducer-hairline-extended);
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  letter-spacing: 1px;
}

.filter-icone {
  color: var(--black);
  width: 18px;
  height: 18px;
  transition: all 300ms ease-in-out;
}

.filter-icone svg {
  width: 100%;
  height: 100%;
}

.filter-blog {
  background-color: var(--gray);
  padding: 20px;
}

.filter-img {
  width: 280px;
  height: 260px;
}

.filter-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filter-inner-title {
  margin-top: 20px;
  font-size: 15px;
}

.price-title {
  font-size: 18px;
}

.available-box {
  grid-column: 2/5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 55px 70px;
  background-image: url(../images/section/avb-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.ave-title {
  font-size: 52px;
  color: var(--white);
  font-family: var(--transducer-test-medium-condensed);
  font-weight: 500;
  margin-bottom: 15px;
}

.ave-subtitle {
  display: inline-block;
  color: var(--primary);
}

.ava-dec {
  color: var(--white);
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--acumin-pro);
  max-width: 472px;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 100;
  opacity: 75%;
}

.more-img-box {
  display: flex;
  justify-content: center;
  grid-column: 2/5;
}

.res-filter-btn {
  display: flex;
  gap: 10px;
}

.img-rot {
  display: block;
}

.res-title {
  font-size: 20px;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: 900;
  cursor: pointer;
}

.res-filter-btn {
  visibility: hidden;
}

.veh-box {
  background-color: var(--black);
  text-align: center;
  padding: 32px 36px;
  padding-top: 100px;
  width: calc(100% + 32px);
  margin: 0 -16px;
  visibility: hidden;
  display: none;
  margin-bottom: 50px;
}

.veh-title {
  color: white;
  margin-bottom: 28px;
}

.vhe-dec {
  color: white;
  opacity: 50%;
  max-width: 342px;
  height: 53px;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
}

.custom-filter-subtitle {
  font-size: 20px;
  margin-bottom: 44px;
}

.btn-cancel {
  width: 100%;
  display: none;
  justify-content: end;
}

.filter-cancle-btn {
  display: block;
  width: 52px;
  height: 44px;
  color: black;
  display: flex;
  justify-content: flex-end;
}

.filter-cancle-btn svg {
  width: 100%;
  height: 100%;
}

.active-ac .filter-icone {
  transform: rotate(45deg);
}

@media (max-width: 1400px) {
  .filter-inner {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .slid-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
  }

  .available-box {
    /* display: none; */
    grid-column: 2/5;
  }

  .more-img-box {
    display: none;
  }
}

@media (max-width: 1240px) {
  .slid-bar {
    grid-column: 1 / 3;
    grid-row: 1 / 8;
  }
  .available-box {
    grid-column: 3/5;
  }

  .filter-inner div:nth-child(11) {
    display: none;
  }

  .filter-img {
    width: 360px;
    height: 340px;
  }
}

@media (max-width: 1024px) {
  .slid-bar {
    grid-column: 1 / 3;
    grid-row: 1 / 8;
  }
  .available-box {
    grid-column: 3/5;
  }

  .filter-inner div:nth-child(11) {
    display: none;
  }

  .filter-img {
    width: 260px;
    height: 240px;
  }

  .filter-subtitle {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .filter-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-sec {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .res-filter-btn {
    visibility: visible;
  }

  .slid-bar {
    /* grid-column: 1 / 1;
    grid-row: 1/1; */
    position: absolute;
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    z-index: 1000;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    padding: 20px;
  }

  .filter-box {
    position: static;
    width: 100%;
    height: 100%;
  }

  .is-visible {
    left: 0;
    visibility: visible;
  }

  .svg-tras svg {
    transform: rotate(-90deg);
  }

  .btn-cancel {
    display: flex;
  }

  .available-box {
    grid-column: 1/3;
  }

  .more-img-box {
    grid-column: 1/3;
  }

  .clear-btn {
    font-size: 20px;
    letter-spacing: 2px;
    font-style: italic;
  }

  .filter-silder-title {
    font-size: 48px;
  }

  .inputbox {
    margin-bottom: 16px;
  }

  .inputbox label {
    font-size: 20px;
  }

  .filter-inputbox input[type="checkbox"] {
    width: 33px;
    height: 33px;
  }

  .filter-main-title {
    display: none;
    visibility: hidden;
  }

  .filter-icone {
    display: inline-block;
    width: 22px;
    height: 22px;
  }

  .filter-icone svg {
    width: 100%;
    height: 100%;
  }

  .veh-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
  }
}

@media (max-width: 640px) {
  .filter-inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .available-box {
    grid-column: 1/1;
    /* display: none; */
  }

  .more-img-box {
    width: 100%;
    height: 100%;
  }

  .ave-title {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .available-box {
    width: calc(100% + 32px);
    margin: 0 -16px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .filter-img {
    width: 100%;
    height: 100%;
  }

  .ava-dec {
    margin-bottom: 20px;
  }
}

.add-card-sec {
  padding: 100px 0px;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}

.add-card-sec::after {
  content: "";
  position: absolute;
  background-color: var(--gray);
  top: 0;
  right: 0;
  z-index: -1;
  width: 70%;
  height: 90%;
  clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%);
}

.view-blog {
  display: flex;
  gap: 20px;
  align-items: center;
}

.colum-img-blog {
  width: 882px;
  height: 560px;
}

.colum-img-blog img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.colum-title {
  margin-bottom: 22px;
  max-width: 276px;
  font-family: var(--transducer-hairline-extended);
  font-weight: 900;
}

.colum-dec {
  font-family: var(--acumin-pro);
  line-height: 1.6;
  opacity: 47%;
  max-width: 356px;
  height: 50px;
  overflow: hidden;
  text-overflow: clip;
  margin-bottom: 12px;
  font-size: 12px;
}

.col-font-link {
  font-size: 12px;
  color: var(--black);
  margin-bottom: 25px;
  display: inline-block;
  text-decoration: underline;
}

.price-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

.price-nub {
  font-size: 25px;
}

.sub-nub-price {
  font-size: 12px;
  opacity: 50%;
  font-family: var(--acumin-pro);
  font-weight: 100;
}

.tow-col-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 14px;
}

.select-col-box {
  width: 136px !important;
  height: 83px !important;
}

.select-col-box .select2-container .select2-selection--single {
  width: 136px !important;
  height: 83px !important;
  border-radius: 0;
  border: 1px solid var(--black);
}

.select-col-box
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100%;
  width: 136px;
  position: absolute;
  top: 1px;
  right: 50%;
  left: 50%;
}

.select-col-box
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.select-col-box .select2-container--open .select2-dropdown--below {
  background-color: gray !important;
  width: 137px !important;
  height: 60px !important;
}

.select-col-box
  .select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  height: 60px;
  background-color: gray !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toe-col-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  color: black;
}

.toe-col-checkbox input[type="checkbox"],
.part-checkbox-list input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--primary);
  border-radius: 50%;
  position: relative;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.part-checkbox-list input[type="checkbox"] {
  background-color: transparent;
  border: 1px solid var(--black);
}

.toe-col-checkbox input[type="checkbox"]::before,
.part-checkbox-list input[type="checkbox"]::before {
  content: "";
  position: absolute;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.part-checkbox-list input[type="checkbox"]::before {
  background-color: var(--primary);
  border-radius: 50%;
}

.toe-col-checkbox input[type="checkbox"]:checked:before,
.part-checkbox-list input[type="checkbox"]:checked:before {
  display: block;
}

.part-checkbox-list input[type="checkbox"]:checked {
  border: 0;
}

.toe-col-checkbox label,
.part-checkbox label {
  color: var(--black);
  font-family: var(--acumin-pro);
  font-size: 12px;
  font-weight: 100;
  opacity: 50%;
  cursor: pointer;
}

.toe-col-checkbox label,
.part-checkbox label {
  font-size: 14px;
}

.col-main-btn {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.col-btn {
  width: 100%;
  height: 152px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-family: var(--transducer-test-medium-condensed);
}

.col-btn {
  background-color: var(--black);
  color: var(--white);
  transition: all 300ms ease-in-out;
}

.col-btn:hover {
  background-color: var(--primary);
  color: var(--black);
}

.col-btn-v2 {
  background-color: var(--primary);
  color: var(--black);
  transition: all 300ms ease-in-out;
}

.col-btn-v2:hover {
  background-color: var(--black);
  color: var(--white);
}

.main-img-box {
  padding-bottom: 100px;
}

.three-col-box {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.fancy-img-blog {
  width: 110px;
  height: 60px;
  margin-right: -20px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.fancy-img-blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dobule-arow {
  display: inline-block;
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  animation: arrow-btn 700ms linear 2s infinite alternate;
}

.dobule-arow .arow-do-icone {
  width: 100%;
  height: 100%;
}

.more-info-block {
  background-color: var(--black);
  background-image: url(../images/section/more-info-bg.png);
  background-size: contain;
  color: var(--white);
  padding: 100px 80px;
  position: fixed;
  top: 0;
  /* left: 50%; */
  right: -100%;
  visibility: hidden;
  z-index: 1000;
  height: 100vh;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 500ms ease-in-out;
}

.open-visible {
  right: 0;
  visibility: visible;
}

.off-scroll {
  overflow: hidden;
  height: 100%;
}

.more-info-title {
  font-weight: 100;
  font-style: italic;
  margin-bottom: 40px;
}

.more-info-subtitle {
  font-family: var(--transducer-test-black-extended);
  color: var(--primary);
}

.more-info-point {
  font-size: 25px;
  font-family: var(--transducer-test-medium-condensed);
  font-weight: 100;
  margin-bottom: 23px;
}

.info-dec {
  max-width: 800px;
  font-size: 16px;
  line-height: 1.75;
  font-family: var(--acumin-pro);
  font-weight: 100;
  font-weight: 100;
  opacity: 75%;
}

.info-blog {
  margin-bottom: 36px;
}

.info-blog ul li {
  margin-bottom: 15px;
  margin-left: 20px;
}

.info-blog ul li::marker {
  font-size: 20px;
  color: var(--gray);
}

.info-more-btn .more-info-link {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  margin-bottom: 57px;
  float: right;
  color: var(--black);
  transition: all 300ms ease-in-out;
}

.info-more-btn .more-info-link:hover {
  background-color: var(--white);
}
@keyframes arrow-btn {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-5%);
  }
}

@media (max-width: 1240px) {
  .view-blog {
    justify-content: space-between;
  }

  .colum-img-blog {
    width: 582px;
    height: 460px;
  }

  .colum-img-blog img {
    object-fit: cover;
  }

  .more-info-block {
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
  }

  .info-blog ul li:nth-of-type(even) {
    display: none;
    visibility: hidden;
  }

  .more-info-title {
    margin-bottom: 33px;
  }

  .more-info-title {
    font-size: 36px;
  }
}

@media (max-width: 1024px) {
  .view-blog {
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
  }

  .colum-img-blog {
    width: 80%;
    height: 100%;
  }

  .colum-img-blog img {
    object-fit: contain;
  }

  .colum-title {
    max-width: 100%;
  }

  .main-img-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }

  .colum-dec {
    max-width: 100%;
    height: 77px;
  }

  .three-col-box {
    margin: 0;
  }

  .tow-col-btn {
    justify-content: start;
  }

  .col-btn {
    font-size: 35px;
  }
}

@media (max-width: 640px) {
  .colum-img-blog {
    width: 100%;
    height: 100%;
  }

  .col-main-btn {
    flex-direction: column;
  }

  .toe-col-checkbox label {
    font-size: 14px;
  }

  .toe-col-checkbox input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }

  .fancy-img-blog {
    width: 70px;
    height: 60px;
    margin-right: -10px;
  }

  .tow-col-btn {
    flex-wrap: wrap;
  }

  .more-info-block {
    justify-content: start;
  }
}

.specifics-sec {
  position: relative;
  padding: 100px 0px;
  overflow: hidden;
}

.specifics-block {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}

.specifics-block ul {
  list-style: none;
}

.detail-blog,
.demension-blog {
  width: 50%;
}

.specifics-list {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-between;
  height: 100%;
}

.specifics-maintitle {
  color: var(--black);
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 46px;
  font-weight: 500;
}

.specifics-block ul li {
  position: relative;
}

.specifics-block ul li:nth-child(odd)::before {
  content: "";
  background-color: var(--gray);
  position: absolute;
  display: block;
  width: 500%;
  height: 100%;
  left: -50%;
  top: 0;
  z-index: -1;
}

.specifics-title {
  color: var(--black);
  font-size: 25px;
  font-family: var(--transducer-test-medium-condensed);
  font-weight: 100;
  width: 100%;
}

.specifics-block ul li:nth-child(odd) {
  background-color: var(--gray);
  width: 100%;
}

.title-edit {
  margin-bottom: 30px;
  text-decoration: underline;
}

.specifics-dec {
  font-size: 18px;
  font-family: var(--acumin-pro);
  font-weight: 100;
  opacity: 50%;
  width: 100%;
}

@media (max-width: 1024px) {
  .specifics-block {
    flex-direction: column;
  }

  .specifics-list {
    width: 500%;
  }
}

@media (max-width: 640px) {
  .specifics-title {
    font-size: 25px;
  }

  .title-edit {
    width: 100%;
  }
}

.key-sec {
  padding: 100px 0px;
}

.main-key-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.key-title {
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.key-img-bock {
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
}

.key-img-bock {
  width: 100%;
  height: 420px;
  /* aspect-ratio: 1/1; */
}

.key-img-bock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 500ms ease-in-out;
}

.key-img-bock:hover img {
  transform: scale(1.05);
}

.key-img-bock::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.431) 30%,
    rgba(255, 255, 255, 0.359) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  transform: rotate(-45deg);
  opacity: 0;
  transition: all 500ms ease-in;
  z-index: 2;
}

.key-img-bock:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.key-img-title {
  color: var(--white);
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
  clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 3;
  padding: 12px 100px;
  padding-right: 74px;
  font-family: var(--transducer-test-medium-condensed);
  font-weight: 100;
}

.key-dec {
  line-height: 1.5;
  opacity: 50%;
  max-width: 420px;
  font-family: var(--acumin-pro);
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .main-key-blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 639px) {
  .main-key-blog {
    grid-template-columns: repeat(1, 1fr);
  }

  .key-sec {
    padding: 50px 0px;
  }
}

.fancy-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-play-box {
  position: relative;
  height: 332px;
}

.btn-play-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-video-btn {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flex-btn-blog {
  max-width: 200px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 24px 40px;
  background-color: #5d5d5d4f;
  border: 1px solid var(--primary);
}

.btn-subtitle {
  display: inline-block;
  color: var(--primary);
  font-size: 14px;
  white-space: nowrap;
}

.flex-btn-blog img {
  width: 23px;
  height: 26px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(7494%)
    hue-rotate(356deg) brightness(102%) contrast(105%);
}

@media (max-width: 640px) {
  .btn-play-box {
    height: 270px;
  }
}

.value-detail-sec {
  padding: 100px 0px;
}

.tow-col-block {
  display: flex;
  width: 100%;
  gap: 20px;
}

.tow-col-title {
  font-size: 25px;
  margin-bottom: 16px;
  color: var(--white);
  font-family: var(--transducer-test-black-extended);
  font-style: italic;
  font-weight: 500;
}

.value-detail {
  padding: 60px 50px;
  width: 100%;
}

.tow-col-dec {
  color: var(--white);
  max-width: 472px;
  height: 44px;
  line-height: 1.5;
  overflow: hidden;
  font-weight: 100;
  text-overflow: clip;
  margin-bottom: 22px;
  font-family: var(--acumin-pro);
}

.val-bg-col1,
.val-bg-col2 {
  background-image: url(../images/section/fin-av-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #00000073;
  background-blend-mode: darken;
  background-position: center;
}

.val-bg-col2 {
  background-image: url(../images/section/value-img.png);
}

@media (max-width: 768px) {
  .value-detail-sec {
    padding: 50px 0px;
  }

  .tow-col-block {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .value-detail {
    width: calc(100% + 32px);
    margin: 0 -16px;
  }

  .value-detail {
    padding: 30px 40px;
  }
}

.rider-review-sec {
  background-color: var(--black);
  padding: 100px 0px;
}

.review-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}

.review-img {
  margin-bottom: 33px;
  width: 110px;
  height: 110px;
}

.review-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.review-title,
.review-tagtitle {
  font-size: 14px;
  margin-bottom: 3px;
  letter-spacing: 2px;
}

.review-mess {
  font-size: 34px;
  line-height: 1.5;
  letter-spacing: 1px;
  max-width: 768px;
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: var(--transducer-hairline-extended);
  color: var(--white);
}

.rider-review-sec .splide__pagination__page {
  width: 48px;
  height: 2px;
  border-radius: 0;
  background-color: #ffff007a;
  transition: all 500ms ease-in-out;
}

.rider-review-sec .splide__pagination__page.is-active {
  background-color: var(--primary);
  transform: scale(1);
}

.rider-review-sec .splide__pagination {
  position: static;
  margin: 0;
}

@media (max-width: 640px) {
  .review-mess {
    margin: 30px 0px;
    font-size: 25px;
  }

  .rider-review-sec {
    padding: 50px 0px;
  }
}

.add-pro-sec {
  padding: 50px 0px;
}

.add-product-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.pro-title {
  max-width: 330px;
  font-size: 16px;
  margin-top: 30px;
}

.pro-price {
  font-size: 20px;
  margin-top: 10px;
  display: inline-block;
}

.pro-button {
  display: flex;
  justify-content: center;
}

.pro-col {
  padding: 20px;
  margin-bottom: 27px;
  background-color: var(--gray);
}

.pro-img {
  width: 100%;
  height: 266px;
}

.pro-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 500ms ease-in-out;
}

.pro-col:hover img {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .add-product-blog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .add-product-blog {
    grid-template-columns: repeat(1, 1fr);
  }
}

.compare-sec {
  padding: 200px 0px;
}

.compare-col-box {
  display: flex;
  gap: 68px;
  margin-top: 78px;
  width: 100%;
}

.compare-blog {
  width: 100%;
  background-color: var(--gray);
  padding: 30px 20px;
  box-shadow: 1px 1px 15px 2px rgba(128, 128, 128, 0.415);
}

.stock-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.stock-subtitle {
  background-color: var(--primary);
  padding: 8px 25px;
  display: inline-block;
  font-size: 14px;
  font-family: var(--transducer-hairline-extended);
  font-weight: 900;
  color: var(--black);
  border: 1px solid transparent;
  transition: all 300ms ease-in-out;
}

.stock-subtitle:hover {
  background-color: var(--white);
  border: 1px solid var(--black);
}

.stock-font-link {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  border-radius: 50%;
  border: 0;
}

.stock-font-link svg {
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.stock-font-link:hover svg {
  transform: rotate(90deg);
}

.com-main-title {
  text-align: center;
  font-family: var(--transducer-test-medium-condensed);
  font-weight: 100;
  margin-bottom: 20px;
}

.com-main-subtitle {
  text-align: center;
  display: block;
  font-style: italic;
}

.com-blog-subtitle {
  font-family: var(--transducer-test-black-extended);
  font-style: italic;
  display: inline-block;
}

.com-blog-title {
  font-family: var(--transducer-hairline-extended);
  font-size: 28px;
  max-width: 260px;
}

.compare-img {
  width: 100%;
  height: 324px;
}

.compare-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.com-price {
  font-size: 22px;
  font-family: var(--transducer-hairline-extended);
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.197);
}

.com-price-v2 {
  padding-bottom: 0px;
  border-bottom: 0;
}

.com-blog-subtitle {
  font-family: var(--transducer-test-black-extended);
}

.compare-sec ul {
  list-style: none;
}

.compare-sec ul li {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 26px 40px;
}

.compare-sec ul li:nth-child(odd) {
  background-color: var(--white);
}

.compare-sec ul li:last-child {
  margin-bottom: 25px;
}

.com-table-title {
  font-size: 25px;
  font-family: var(--transducer-test-medium-condensed);
  font-weight: 500;
  color: var(--black);
  width: 100%;
}

.compare-dec {
  width: 100%;
  font-size: 18px;
  color: var(--black);
  font-weight: 100;
  font-family: var(--acumin-pro);
}

.com-blog-btn {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

.com-blog-btn .btn {
  width: 100%;
}

@media (max-width: 1024px) {
  .compare-col-box {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .compare-sec {
    padding: 150px 0px;
  }

  .com-blog-title {
    font-size: 20px;
  }

  .com-price {
    border: 0;
    margin-bottom: 20px;
  }

  .compare-sec ul li {
    padding: 30px 20px;
  }

  .com-table-title {
    font-size: 20px;
  }

  .compare-dec {
    font-size: 16px;
  }

  .compare-blog {
    padding: 20px;
  }

  .compare-img {
    height: 242px;
  }

  .stock-font-link {
    background-color: #ebebeb;
    color: var(--black);
  }

  .stock-font-link svg {
    padding: 15px;
  }
}

.modal-calu {
  background-color: #0000005c;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  transition: all 500ms ease-in-out;
  visibility: hidden;
}

.open-modal-cal {
  opacity: 1;
  visibility: visible;
}

.purchase-plane-blog {
  max-width: 965px;
  margin: 20px auto;
  padding: 20px 30px;
  font-family: var(--acumin-pro);
  background-color: var(--white);
}

.more-option-link {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  color: brown;
  font-size: 18px;
  font-weight: 300;
}

.cash-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.plane-dec {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
  color: var(--black);
  font-weight: 900;
  opacity: 58%;
}

.plane-text-blog {
  font-size: 14px;
  color: var(--black);
  font-weight: 900;
  opacity: 58%;
  padding: 10px 40px;
  border: 2px solid brown;
  width: fit-content;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.plane-text-blog:hover {
  background-color: brown;
  color: var(--white);
}

.plan-block {
  border-bottom: 2px solid rgba(0, 0, 0, 0.231);
  padding: 20px 0px;
  margin-bottom: 10px;
}

.cash-block-title {
  color: var(--black);
  opacity: 50%;
  font-weight: 900;
  font-size: 12px;
}

.plan-block input[type="number"] {
  outline: 0;
  max-width: 100px;
  height: 40px;
  padding: 12px;
  border: 2px solid rgba(0, 0, 0, 0.412);
}

.plan-block .input-box::before {
  content: "£";
  color: rgba(0, 0, 0, 0.213);
  font-weight: 900;
  font-size: 14px;
  padding-right: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.plan-block input[type="range"] {
  appearance: none;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.412);
  cursor: pointer;
}

.plan-block input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid brown;
}

.input-range-block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ico-min-max {
  background-color: #8080803c;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.ico-min-max svg {
  width: 100%;
  height: 100%;
}

.cal-btn {
  color: var(--white);
  width: 40px;
  height: 40px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 30px;
}

.calcu-check-box {
  display: flex;
  justify-content: end;
}

.calcu-check-box svg {
  width: 100%;
  transition: all 500ms ease-in-out;
}

.cal-btn:hover svg {
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .purchase-plane-blog {
    width: 100%;
    height: 100%;
  }

  .plane-dec {
    font-size: 12px;
  }

  .more-option-link {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .purchase-plane-blog {
    padding: 16px;
  }
}

.part-of-bike-blog {
  top: 0%;
  position: fixed;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #00000044;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}

.open-modal-part {
  opacity: 1;
  visibility: visible;
}

.part-box {
  max-width: 557px;
  margin: 0 auto;
  background-color: var(--white);
  padding: 50px;
}

.part-checkbox {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.part-checkbox-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.agreement-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.part-select2-block {
  display: flex;
  gap: 20px;
  width: 100%;
}

.part-input-box {
  width: 100%;
  margin-bottom: 40px;
}

.part-of-title {
  color: var(--black);
  font-family: var(--transducer-test-medium-condensed);
  text-align: center;
  margin-bottom: 20px;
  font-weight: 100;
}

.part-of-bike-blog ::-webkit-input-placeholder {
  color: black;
  font-size: 16px;
}

.part-of-bike-blog input[type="text"],
.part-of-bike-blog input[type="email"],
.part-of-bike-blog input[type="number"] {
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.246);
  padding: 12px 0px;
  font-family: var(--acumin-pro);
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

.part-input-box .select2-container {
  display: inline;
  width: 100%;
  height: 100%;
  border: 0;
}

.part-input-box .select2-container--default .select2-selection--single {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.246);
}

.part-input-box
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  padding: 0px;
  line-height: 20px;
  color: var(--black);
  font-family: var(--acumin-pro);
  font-size: 16px;
}

.part-input-box
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 20px;
}

body
  .select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: rebeccapurple;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
}

.part-subtitle {
  color: var(--black);
  display: inline-block;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: var(--acumin-pro);
}

.part-of-bike-blog .btn {
  width: 100%;
  cursor: pointer;
}

.value-box {
  margin: 0 auto;
  background-color: var(--white);
  padding: 50px 100px;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: all 500ms ease-in-out;
}

.open-modal-value {
  display: block;
  visibility: visible;
  opacity: 1;
}

.part-box-none {
  display: none;
}

.value-box-none {
  display: none;
}

.mar-off {
  margin: 0;
}

.part-input-box-v2 {
  display: flex;
  gap: 22px;
  align-items: center;
  padding-bottom: 15px;
}

.part-input-box-v2 {
  width: 100%;
}

.uplode-input-box {
  display: flex;
  gap: 28px;
}

.choose-input-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.252);
  padding: 12px 0px;
  width: 100%;
  margin-bottom: 10px;
}

.input-margin {
  margin-top: 20px;
  margin-bottom: 10px;
}

.label-text {
  font-size: 12px;
  font-family: var(--acumin-pro);
}

@media (max-width: 768px) {
  .value-box {
    padding: 20px;
    overflow: auto;
  }

  .part-box {
    padding: 20px;
    overflow-x: auto;
    width: 100%;
    height: 100%;
  }

  .uplode-input-box {
    flex-direction: column;
    gap: 10px;
  }

  .value-box {
    margin: 0;
    max-width: 100%;
    height: 100%;
  }

  .part-input-box-v2 {
    gap: 10px;
    flex-direction: column;
  }

  .part-of-bike-blog {
    flex-direction: row;
  }

  .part-select2-block {
    flex-direction: column;
    gap: 10px;
  }
}

.add-to-card-sec {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #00000079;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}

.open-modal-cardbox {
  opacity: 1;
  visibility: visible;
}

.add-card-blog {
  max-width: 434px;
  padding: 20px 40px;
  padding-bottom: 0;
  background-color: var(--white);
  margin: 0 -16px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.card-content-block {
  width: 100%;
  min-height: 300px;
}

.card-title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 26px;
  border-bottom: 1px solid var(--black);
  margin-bottom: 10px;
}

.total-warp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-card-sec .btn {
  width: 100%;
}

.add-to-card-sec input[type="text"] {
  width: 100%;
  outline: none;
  border: 0;
  border-bottom: 1px solid black;
  padding: 12px 0px;
  margin-bottom: 20px;
  font-family: var(--acumin-pro);
  font-size: 16px;
  color: var(--black);
}

.card-cancel-icone {
  color: var(--black);
  width: 20px;
  height: 20px;
}

.card-cancel-icone svg {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}

.card-cancel-icone svg:hover {
  transform: rotate(90deg);
}

.count-title {
  font-size: 35px;
  font-family: var(--transducer-test-medium-condensed);
  font-weight: 100;
  color: var(--black);
}

.total-title {
  color: var(--black);
  font-family: var(--transducer-test-medium-condensed);
  font-weight: 300;
  margin-bottom: 24px;
}

.card-btn {
  margin-bottom: 10px;
}

.card-bottom-img {
  width: calc(100% + 80px);
  margin: 0 -40px;
  height: 270px;
  position: relative;
}

.card-bottom-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card-img-content {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0000002d;
}

.card-img-title {
  color: var(--white);
  font-size: 15px;
  font-family: var(--transducer-hairline-extended);
  max-width: 234px;
  font-style: italic;
  margin-bottom: 16px;
}

.card-img-subtitle {
  font-family: var(--transducer-test-black-extended);
  display: block;
}

@media (max-width: 768px) {
  .add-card-blog {
    max-width: 100%;
   width: 100%;
 
  }
}
